<h1 class="title">Forgot your password? </h1>

<%= form_with url: password_reset_path do |form|%>
     <div class="field">
        <div class="control has-icons-left">
            <%= form.text_field :email, class:"input", placeholder: "example@email"%>
        </div>
    </div>
    <div class="control">
        <%= form.submit "Reset", class:"button is-primary"%>
    </div>
<% end %>
