<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <%= link_to 'Home', products_path, class:"navbar-item" %>       
        </div>
        </div>
    <% if current_page?(display_images_index_path)%>
    <% else %>
        <div class="navbar-end">
            <div class="navbar-item">
                <p>
                    <%= link_to "View all images", display_images_index_path, class:"button is-primary"%> 
                </p>  
            </div>
        </div>
    <% end %>
    </div>
</nav>
