

<h1 class="title"><%= params[:user].email%></h1>
Are you trying to reset your password? 

Click here:
<%= link_to "Reset Password", password_reset_edit_url(token: @token) %>

(If it is not to you ignore it and make sure your account is secure.)
