<h1>Editing product</h1>

<%= render 'form', product: @product %>


<div class="columns is-centered mt-6" >
    <%= link_to 'See images', @product, class: "button is-link is-outlined is-centered" %>
</div>

<div class="columns is-centered mt-6" >
    <%= link_to 'Back', products_path, class: "button is-link is-outlined is-centered" %>
</div>

 
