<div class="form">

    <%= render 'form', product: @product %>

  
    <div class="columns is-centered mt-6" >
        <%= link_to 'Back', products_path, class: "button is-link is-outlined is-centered" %>
    </div>
</div>
