<div class="bulk-page">
  <% @product.bulk.each do |bulk| %> 
        <div class="bulk-card">
            <%= image_tag bulk, class:"bulk-image" %>
            <footer class="bulk-buttons">
              <%= link_to "Download", rails_blob_path(bulk, disposition: "attachment"), class: " button is-white button-download" %>
              <%= link_to 'Delete', delete_image_product_url(bulk.id), method: :delete, class: "button is-white button-delete" %>
            </footer> 
        </div>    
<% end %>
</div>



